openapi: 3.1.0
info:
  title: openbanking-api Accounts Investments API
  version: '1.0'
servers:
- url: https://api.datanomik.com
tags:
- name: Investments
paths:
  /v1/investments/movements/{movementId}/receipt:
    get:
      responses:
        '200':
          description: ''
      parameters:
      - in: path
        name: movementId
        schema:
          type: string
        required: true
        description: Movement identifier
      summary: Get Investment Movement Receipt
      operationId: get_v1-investments-movements-1
      description: 'Receipt metadata for an investment movement (clientId, accountId, institution, date, receiptUrl). Role: ROLE_INVESTMENTS_READ.'
      tags:
      - Investments
  /v1/investments/movements:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                OK:
                  summary: OK
                  value:
                    content:
                    - id: 11111111-1111-1111-1111-111111111111
                      application_id: 22222222-2222-2222-2222-222222222222
                      instrument_type: DEPOSIT
                      direction: REDEEM
                      date: '2026-06-30'
                      account_type: Conta Corrente
                      account_number: 0000 | 00000-0
                      owner_document: 12.345.678/0001-99
                      institution_name: Itau
                      institution_logo: https://resources.datanomik.com/institutions/br/Itau.svg
                      owner_id: 33333333-3333-3333-3333-333333333333
                      owner_name: 000 | EXAMPLE OWNER NAME
                      institution_id: 44444444-4444-4444-4444-444444444444
                      type: Renda Fixa
                      asset: CDB-DI
                      value: -5074.26
                      gross_value: -5074.26
                      net_value: 5059.58
                      income_tax_value: 14.68
                      note_available: false
                    first: true
                    last: false
                    page_number: 0
                    page_size: 1
                    total_elements: 11345
                    total_pages: 11345
      parameters:
      - in: query
        name: instrumentType
        schema:
          type: string
        description: 'Instrument type: COE, BOND, FUND, STOCKS, DEPOSIT, COMMITTED or DERIVATIVE'
      - in: query
        name: direction
        schema:
          type: string
        description: 'Movement type: APPLY or REDEEM'
      - in: query
        name: investmentId
        schema:
          type: string
        description: Investment identifier
      - in: query
        name: accountId
        schema:
          type: string
        description: Account identifier
      - in: query
        name: applicationId
        schema:
          type: string
        description: Application identifier
      - in: query
        name: ownerId
        schema:
          type: string
        description: Owner identifier
      - in: query
        name: generalOwnerId
        schema:
          type: string
        description: General owner identifier
      - in: query
        name: institutionId
        schema:
          type: string
        description: Institution identifier
      - in: query
        name: linkId
        schema:
          type: string
        description: Link identifier
      - in: query
        name: dateFrom
        schema:
          type: string
        description: Start date (YYYY-MM-DD)
      - in: query
        name: dateTo
        schema:
          type: string
        description: End date (YYYY-MM-DD)
      - in: query
        name: noteAvailableOnly
        schema:
          type: boolean
        description: Only movements with an available receipt
      summary: List Investment Movements
      operationId: get_v1-investments-movements
      description: 'Flat list of investment movements from automatic applications. Role: ROLE_INVESTMENTS_READ.'
      tags:
      - Investments
  /v1/investments/history:
    get:
      summary: List Investments History
      description: ''
      operationId: list-investments-history
      parameters:
      - name: linkId
        in: query
        description: Link Id
        schema:
          type: string
      - name: accountId
        in: query
        description: Account Id
        schema:
          type: string
      - name: investmentId
        in: query
        description: Investment Id
        schema:
          type: string
      - name: generalOwnerId
        in: query
        description: General Owner Id
        schema:
          type: string
      - name: instrumentType
        in: query
        description: Investment Instrument Type
        schema:
          type: string
          enum:
          - FUND
          - COMMITED
          - BOND
          - STOCKS
          - DEPOSIT
      - name: dateFrom
        in: query
        description: Date From
        schema:
          type: string
          format: date
      - name: dateTo
        in: query
        description: Date To
        schema:
          type: string
          format: date
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[{\n            \"id\": \"419a2fdb-853e-4ba6-88bb-3d56f0dc4043\",\n            \"instrument_type\": \"DEPOSIT\",\n            \"description\": \"CDB\",\n            \"net_balance\": 514.85,\n            \"gross_balance\": 1162.82,\n            \"account\": {\n                \"id\": \"c80c5b6e-f21e-4068-9dd7-c287cc98ca51\",\n                \"description\": \"Conta Corrente 60217-6\",\n                \"branch\": \"3957-2\",\n                \"account_number\": \"60217-6\",\n                \"type\": \"Conta Corrente\",\n                \"category\": \"CHECKING\",\n                \"balance\": {\n                    \"currency\": \"BRL\"\n                },\n                \"refreshed_at\": \"2023-07-05T15:28:13.091175Z\",\n                \"created_at\": \"2023-05-12T14:39:48.666683Z\",\n                \"updated_at\": \"2023-07-05T10:13:07.801974Z\",\n                \"owner\": {\n                    \"id\": \"47bd11f7-a024-469e-863a-0a5d24f374b8\",\n                    \"display_name\": \"VIEIRA S/A\"\n                },\n                \"blocked\": false,\n                \"status\": \"ACTIVE\",\n                \"country\": \"BR\",\n                \"institution_logo\": \"https://resources.datanomik.com/institutions/br/BancoBrasil.svg\",\n                \"institution\": \"BANCO_BRASIL\",\n                \"institution_description\": \"Banco do Brasil\",\n                \"link_id\": \"a284d0da-5de9-4edf-8a43-698d0b54d538\",\n                \"tags\": []\n            }\n}]"
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 419a2fdb-853e-4ba6-88bb-3d56f0dc4043
                    instrument_type:
                      type: string
                      example: DEPOSIT
                    description:
                      type: string
                      example: CDB
                    net_balance:
                      type: number
                      example: 514.85
                      default: 0
                    gross_balance:
                      type: number
                      example: 1162.82
                      default: 0
                    account:
                      type: object
                      properties:
                        id:
                          type: string
                          example: c80c5b6e-f21e-4068-9dd7-c287cc98ca51
                        description:
                          type: string
                          example: Conta Corrente 60217-6
                        branch:
                          type: string
                          example: 3957-2
                        account_number:
                          type: string
                          example: 60217-6
                        type:
                          type: string
                          example: Conta Corrente
                        category:
                          type: string
                          example: CHECKING
                        balance:
                          type: object
                          properties:
                            currency:
                              type: string
                              example: BRL
                        refreshed_at:
                          type: string
                          example: '2023-07-05T15:28:13.091175Z'
                        created_at:
                          type: string
                          example: '2023-05-12T14:39:48.666683Z'
                        updated_at:
                          type: string
                          example: '2023-07-05T10:13:07.801974Z'
                        owner:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 47bd11f7-a024-469e-863a-0a5d24f374b8
                            display_name:
                              type: string
                              example: VIEIRA S/A
                        blocked:
                          type: boolean
                          example: false
                          default: true
                        status:
                          type: string
                          example: ACTIVE
                        country:
                          type: string
                          example: BR
                        institution_logo:
                          type: string
                          example: https://resources.datanomik.com/institutions/br/BancoBrasil.svg
                        institution:
                          type: string
                          example: BANCO_BRASIL
                        institution_description:
                          type: string
                          example: Banco do Brasil
                        link_id:
                          type: string
                          example: a284d0da-5de9-4edf-8a43-698d0b54d538
                        tags:
                          type: array
                          items:
                            type: object
                            properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Investments
  /v1/investments:
    get:
      summary: List Investments
      description: ''
      operationId: list-investments
      parameters:
      - name: linkId
        in: query
        description: Link Id
        schema:
          type: string
      - name: currency
        in: query
        description: Currency Iso Code
        schema:
          type: string
          enum:
          - USD
          - BRL
          - UYU
          - EUR
      - name: institutionId
        in: query
        description: Institution Id
        schema:
          type: string
      - name: recurrent
        in: query
        description: Recurrent Link (True or False)
        schema:
          type: boolean
      - name: accountId
        in: query
        description: Account Id
        schema:
          type: string
      - name: country
        in: query
        description: Country Iso Code
        schema:
          type: string
          enum:
          - UY
          - BR
          - AR
          - US
      - name: grossBalanceGte
        in: query
        description: Gross Balance Greater Than
        schema:
          type: number
          format: double
      - name: grossBalanceLte
        in: query
        description: Gross Balance Less Than
        schema:
          type: number
          format: double
      - name: netBalanceGte
        in: query
        description: Net Balance Greater Than
        schema:
          type: number
          format: double
      - name: netBalanceLte
        in: query
        description: Net Balance Less Than
        schema:
          type: number
          format: double
      - name: ownerId
        in: query
        description: Owner Id
        schema:
          type: string
      - name: instrumentType
        in: query
        description: Investment Instrument Type
        schema:
          type: string
          enum:
          - FUND
          - COMMITED
          - BOND
          - STOCKS
          - DEPOSIT
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[{\n            \"id\": \"419a2fdb-853e-4ba6-88bb-3d56f0dc4043\",\n            \"instrument_type\": \"DEPOSIT\",\n            \"description\": \"CDB\",\n            \"net_balance\": 514.85,\n            \"gross_balance\": 1162.82,\n            \"account\": {\n                \"id\": \"c80c5b6e-f21e-4068-9dd7-c287cc98ca51\",\n                \"description\": \"Conta Corrente 60217-6\",\n                \"branch\": \"3957-2\",\n                \"account_number\": \"60217-6\",\n                \"type\": \"Conta Corrente\",\n                \"category\": \"CHECKING\",\n                \"balance\": {\n                    \"currency\": \"BRL\"\n                },\n                \"refreshed_at\": \"2023-07-05T15:28:13.091175Z\",\n                \"created_at\": \"2023-05-12T14:39:48.666683Z\",\n                \"updated_at\": \"2023-07-05T10:13:07.801974Z\",\n                \"owner\": {\n                    \"id\": \"47bd11f7-a024-469e-863a-0a5d24f374b8\",\n                    \"display_name\": \"VIEIRA S/A\"\n                },\n                \"blocked\": false,\n                \"status\": \"ACTIVE\",\n                \"country\": \"BR\",\n                \"institution_logo\": \"https://resources.datanomik.com/institutions/br/BancoBrasil.svg\",\n                \"institution\": \"BANCO_BRASIL\",\n                \"institution_description\": \"Banco do Brasil\",\n                \"link_id\": \"a284d0da-5de9-4edf-8a43-698d0b54d538\",\n                \"tags\": []\n            }\n}]"
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 419a2fdb-853e-4ba6-88bb-3d56f0dc4043
                    instrument_type:
                      type: string
                      example: DEPOSIT
                    description:
                      type: string
                      example: CDB
                    net_balance:
                      type: number
                      example: 514.85
                      default: 0
                    gross_balance:
                      type: number
                      example: 1162.82
                      default: 0
                    account:
                      type: object
                      properties:
                        id:
                          type: string
                          example: c80c5b6e-f21e-4068-9dd7-c287cc98ca51
                        description:
                          type: string
                          example: Conta Corrente 60217-6
                        branch:
                          type: string
                          example: 3957-2
                        account_number:
                          type: string
                          example: 60217-6
                        type:
                          type: string
                          example: Conta Corrente
                        category:
                          type: string
                          example: CHECKING
                        balance:
                          type: object
                          properties:
                            currency:
                              type: string
                              example: BRL
                        refreshed_at:
                          type: string
                          example: '2023-07-05T15:28:13.091175Z'
                        created_at:
                          type: string
                          example: '2023-05-12T14:39:48.666683Z'
                        updated_at:
                          type: string
                          example: '2023-07-05T10:13:07.801974Z'
                        owner:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 47bd11f7-a024-469e-863a-0a5d24f374b8
                            display_name:
                              type: string
                              example: VIEIRA S/A
                        blocked:
                          type: boolean
                          example: false
                          default: true
                        status:
                          type: string
                          example: ACTIVE
                        country:
                          type: string
                          example: BR
                        institution_logo:
                          type: string
                          example: https://resources.datanomik.com/institutions/br/BancoBrasil.svg
                        institution:
                          type: string
                          example: BANCO_BRASIL
                        institution_description:
                          type: string
                          example: Banco do Brasil
                        link_id:
                          type: string
                          example: a284d0da-5de9-4edf-8a43-698d0b54d538
                        tags:
                          type: array
                          items:
                            type: object
                            properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Investments
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
