openapi: 3.1.0
info:
  title: openbanking-api Accounts Pix Transactions API
  version: '1.0'
servers:
- url: https://api.datanomik.com
tags:
- name: Pix Transactions
paths:
  /v1/pix-transactions/{pixTransactionId}/receipt:
    get:
      responses:
        '200':
          description: ''
      parameters:
      - in: path
        name: pixTransactionId
        schema:
          type: string
        required: true
        description: PIX transaction identifier
      summary: Download PIX Receipt (PDF)
      operationId: get_v1-pix-transactions-1
      description: 'Downloads the PIX transaction receipt (PDF) by id (application/pdf). Role: ROLE_PAYMENTS_READ.'
      tags:
      - Pix Transactions
  /v1/pix-transactions:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                OK:
                  summary: OK
                  value:
                    content:
                    - id: 11111111-1111-1111-1111-111111111111
                      type: OUTFLOW
                      date: '2026-06-30'
                      amount: -557.8
                      description: PIX Transfer√™ncias
                      beneficiary:
                        document: 12.345.678/0001-99
                        document_type: CNPJ
                        display_name: EXAMPLE BENEFICIARY LTDA
                      status: EXECUTED
                      link:
                        id: 22222222-2222-2222-2222-222222222222
                        country: BR
                        institution: ITAU_WEB
                        institution_description: Itau
                        institution_logo: https://resources.datanomik.com/institutions/br/Itau.svg
                      account:
                        id: 33333333-3333-3333-3333-333333333333
                        account_number: 00000-0
                        branch: '0000'
                        currency: BRL
                        type: Conta Corrente
                        owner:
                          id: 44444444-4444-4444-4444-444444444444
                          document: 98.765.432/0001-10
                          document_type: CNPJ
                          display_name: EXAMPLE OWNER LTDA
                        category: CHECKING
                      created_at: '2026-06-30T21:41:10.46913Z'
                      updated_at: '2026-06-30T21:41:10.469134Z'
                      downloadable: PENDING
                    first: true
                    last: false
                    page_number: 0
                    page_size: 1
                    total_elements: 1442
                    total_pages: 1442
      parameters:
      - in: query
        name: linkId
        schema:
          type: string
        description: Link identifier
      - in: query
        name: accountId
        schema:
          type: string
        description: Account identifier
      - in: query
        name: ownerId
        schema:
          type: string
        description: Owner identifier
      - in: query
        name: generalOwnerId
        schema:
          type: string
        description: General owner identifier
      - in: query
        name: institutionId
        schema:
          type: string
        description: Institution identifier
      - in: query
        name: dateFrom
        schema:
          type: string
        description: Start date (YYYY-MM-DD)
      - in: query
        name: dateTo
        schema:
          type: string
        description: End date (YYYY-MM-DD)
      - in: query
        name: trxType
        schema:
          type: string
        description: 'Transaction type: INFLOW or OUTFLOW'
      - in: query
        name: status
        schema:
          type: string
        description: PIX transaction status
      - in: query
        name: currency
        schema:
          type: string
        description: Currency (BRL, USD, etc.)
      - in: query
        name: country
        schema:
          type: string
        description: Country (BR, AR, etc.)
      - in: query
        name: beneficiaryName
        schema:
          type: string
        description: Beneficiary name
      - in: query
        name: beneficiaryDocument
        schema:
          type: string
        description: Beneficiary document
      - in: query
        name: senderName
        schema:
          type: string
        description: Sender name
      - in: query
        name: senderDocument
        schema:
          type: string
        description: Sender document
      - in: query
        name: description
        schema:
          type: string
        description: Description
      - in: query
        name: reference
        schema:
          type: string
        description: Reference
      - in: query
        name: categoryId
        schema:
          type: string
        description: Category identifier
      summary: List PIX Transactions
      operationId: get_v1-pix-transactions
      description: 'List PIX transactions. Role: ROLE_PAYMENTS_READ.'
      tags:
      - Pix Transactions
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
